@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'trump_town_proregular';
    src: url('../fonts/Trump_Town_Pro-webfont.eot');
    src: url('../fonts/Trump_Town_Pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Trump_Town_Pro-webfont.woff') format('woff'),
         url('../fonts/Trump_Town_Pro-webfont.ttf') format('truetype'),
         url('../fonts/Trump_Town_Pro-webfont.svg#trump_town_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body {
  font-family: 'open_sansregular', sans-serif;
  font-size: 18px;
  color: rgb(44, 57, 59);
  line-height: 1.5rem;
}

.container {
  width: 960px;
}


/**************************************************************************
                                   header
**************************************************************************/

.logo {
  display: flex;
  align-items: center;
  margin-left:24px;
}

.logo img {
  width: 2.5rem;
  color: white;
  -webkit-filter: invert(100%);

}


#logo_text {
  display: flex;
  font-family: 'trump_town_proregular', sans-serif;
  font-size: 1.9rem;
  align-items: flex-end;
  margin-left: 0.5rem;
  text-shadow: 1.5px 1.5px rgb(120,177,173);
}



#logo_text h1:first-child {
  margin-right: 0.2rem;
}

nav ul {
  display: flex;
}

nav {
  margin-right: 24px;
}

ul li {
  margin-left: 2em;
  font-weight: lighter;
  font-size: 1.1rem;
  transition: all 300ms ease;
}

ul li:hover {
  color:
  rgb(44, 57, 59)
}

.header {
  display: flex;
  justify-content: space-between;
  background-image: url("../images/polygon.png");
  /*background-color: rgba(59, 102, 114, 1);*/
  align-items: center;
  height: 64px;
  /*
  position: fixed;
  z-index: 10; */
  width: 100%;
  top: 0;
  left: 0;
  color: white;

  /***border gradian ***/
  border-style: solid;
  border-width: 0px 0px 5px;
  -moz-border-image: url(../images/polygon.png) 0 0 27 round stretch;
  -webkit-border-image: url(../images/polygon.png) 0 0 27 round stretch;
  -o-border-image: url(../images/polygon.png) 0 0 27 round stretch;
  border-image: url(../images/polygon.png) 0 0 27 round stretch;
}

.cell_logo {
  display: none;
}

@media only screen and (max-width: 1024px) {
  #logo_text {
    display: none;
  }
}

@media only screen and (max-width: 768px) {

  }
  .logo,
  nav {
    display: none;
  }

  .cell_logo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 1rem;
  }

  .cell_logo img {
    width: 2.5rem;
    height: 3rem;
    -webkit-filter: invert(100%);

  }

  .cell_logo_hover {
    transition: all 300ms ease;
  }

  .cell_logo_hover:hover {
    -webkit-filter: none;
  }

}




/**************************************************************************
                                   banner
**************************************************************************/
/*
.banner_img img {
  width: 100%;

}

.banner_img {
  margin-left: 24px;
  border: 4px solid red;
  width: 60%;
} */

.main{
  position: relative;
}
.banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 5;
  height:30rem;
}

.banner_img {
  background-image: url("../images/banner.jpg");
  width: 100%;
  height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;


}

.banner_text {
  width: 20rem;
  margin-top: -28.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 24px;
  font-family: 'Philosopher', sans-serif;
  align-items: center;
  padding: 1rem 2rem;
  color: rgb(44, 57, 59);
}

.banner_text h1 {
  font-family: 'Lily Script One', cursive;
  font-size: 4rem;
  text-align: center;
  line-height:4rem;
  margin-bottom: 1rem;
  transition: font-size 550ms ease-in-out;
}

.banner_text h1:hover {
  font-size: 4.5rem;
}


.banner_text #first_p {

  text-align: center;
  margin-bottom: 1rem;
}


#button p{
  text-align: center;
  font-size: 1.3rem;
  padding: 8px 0px;
  background-color: rgb(123, 188, 174);
  color: white;
  padding: 1rem 3rem;
  border-radius: 0.7rem;
  transition: background-color 250ms ease-in;
}

#button p:hover {
  background-color: rgb(44, 57, 59);
}


@media only screen and (max-width: 500px) {

  .banner {

  }
  .banner_img {
    height: 20rem;

  }

  .banner_text {
    margin: 1.4rem 0;
    width: 80%;
    height: 20rem;
    margin-bottom: 1.5rem;

  }

  .banner_text h1:hover {
    font-size: 2.4rem;
  }

  .banner_text h1 {
    font-size: 2.4rem;
    text-align: center;
    width: 100%;
    margin-left:0;
    line-height: 2.3rem;
  }
}

/**************************************************************************
                                   info
**************************************************************************/
.info {
  display: flex;
  justify-content: center;
  z-index: 10;
  background-image: url("../images/bg.png");
}

.info .container{
  display: flex;
  margin: 5rem 0;
  margin-bottom: 3rem;

}

.main_info {
  width: 60%;
  background-color: white;
  padding: 0.4rem 0.7rem;
  box-shadow: 7px 7px 7px #888888;

}

.main_text h1 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  font-weight: bold;
  color: rgb(123, 188, 174);
  /* text-shadow: 1.5px 1.5px rgb(120,177,173); */
  width: 95%;
  margin-left: 0.4rem;
}

.main_text p {
  width: 95%;
  margin-left: 0.4rem;
}

.main_info .main_text p:last-child {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-style: italic;
}

.main_img img {
  width: 100%;
}

.side_info {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 24px;
}

.side_container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0.3rem;
  transition: all 300ms ease-in;
  /*border gradient*/
  background-color: white;
  border-style: solid;
  border-width: 0px 0px 0 5px;
  -moz-border-image: url(../images/polygon.png) 0 0 0 27 stretch;
  -webkit-border-image: url(../images/polygon.png) 0 0 0 27 stretch;
  -o-border-image: url(../images/polygon.png) 0 0 0 27 stretch;
  border-image: url(../images/polygon.png) 0 0 0 27 stretch;
}

.side_container:hover {
  background-color: rgb(123, 188, 174);
  color: white;
}

.side_img {
  width: 45%;
  margin: 0.6rem;

  display: flex;
  align-items: center;

}

.side_img img{
  width: 100%;

}

.side_text {
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 1.2rem;

}

.side_text h2 {
  color: rgb(255, 156, 114);
  font-weight: bold;
  transition: color 300ms ease-in;
}

.side_container:hover .side_text h2 {
  color: white;
}

.side_text p:last-child {
  display: none;
}

.side_text p{
  font-size: 0.85rem;
}

@media only screen and (max-width: 500px) {
  .main_info {
    display: none;
  }

  .side_info {
    width: 90%;
    margin-top: -3.5rem;
  }

  .side_container {
    flex-direction: column;
    border: none;
    margin-top: 0;
  }

  .side_img {
    width: 100%;
    object-fit: cover;
    margin-top: 0;

  }

  .side_img img {
    height:12rem;
    object-fit: cover;
  }

  .side_text {
    width: 90%;
  }

  .side_text h2 {
    font-size: 1.5rem;
    margin-bottom: 0.4rem;
    transition: color 300ms ease-in;
  }


  .side_container:hover .side_text h2 {
    color: white;
  }



  .side_text p:last-chile {
    display: flex;
  }

}




/**************************************************************************
                                   courses
**************************************************************************/
.learn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/pink-bg.jpg");

}



.learn h1 {
  margin: 4rem 0;
  text-align: center;
  color: rgb(44, 57, 59);
  font-family: "Lily Script One", cursive;
  font-size: 2.5rem;
}

#courses {
  margin: 0 72px;
  margin-bottom: 4rem;
}


.top_three,
.bottom_three {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 32px;

}

.course_container {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: white;
  transition: scale 4s ease-in-out 100ms;
}

.course_container:hover {
  transform: scale(1.1);

}

.course_container img {
  width: 100%;

}

.course_text {
  height: 100%;
  margin: 1rem;
  margin-bottom: 2rem;

}



.course_text h2 {
  margin: 0.2rem 0 0.5rem 0;
  font-family: 'trump_town_proregular', sans-serif;
  font-size: 1.3rem;
}

.course_text p:last-child {
  margin-top: 0.3rem;
  color: grey;
}


@media only screen and (max-width: 500px) {
  .course_container img,
  .course_text p{
    display: none;
  }

  .learn {
    margin-top: -1.5rem;
  }

  .learn h1 {
    margin: 2.5rem 0 2rem 0;;
  }

  #courses {
    margin: 0;
    margin-bottom: 2.3rem;
    width: 100%;
    flex-direction: column;
  }

  .top_three,
  .bottom_three {
    margin: 0;
    width: 100%;
    flex-direction: column;
  }


  .course_container {
    margin: 0 0.5rem;
    width: 95%;
    margin-top: 0.4rem;
    transition: all 400ms ease;
  }

  .course_container:hover {
    background-color: rgb(123, 188, 174);
    transform: none;
    color: white;
  }

  .course_text {
    margin: 0.8rem 0 1rem 0.8rem;
    width: 70%;
  }

  .course_text h2{
    font-size: 1.5rem;
  }
}


/**************************************************************************
                                   exhibit
**************************************************************************/
.exhibit {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exhibit h1 {
  text-align: center;
  margin: 4rem 0;
  color: rgb(44, 57, 59);
  font-family: "Lily Script One", cursive;
  font-size: 2.5rem;

}

.exhibit .container {
  display: flex;
  margin-bottom: 5rem;
}

.main_ex {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 24px;
}


#video video {
  width: 100%;
}

.video_text {
  width: 95%;
  margin-top: 24px;
  margin-bottom: 32px;
}

.video_text h2 {
  margin-bottom: 1rem;
  font-size: 1.7rem;
  font-weight: bold;
  color: rgb(123, 188, 174);
  /*
  text-shadow: 1.5px 1.5px rgb(120,177,173);*/
}

@media only screen and (max-width: 500px) {
  .container {
    width: 100%;
  }

  .exhibit h1 {
    margin: 2.5rem 0 2rem 0;
  }
  .side_ex {
    display: none;
    height: 10rem;
  }

  #video video {
    width: 100%;
    margin: 0;
    margin-bottom: 0;
  }

  .main_ex {
    margin: 0;
    align-items: center;
  }

  .video_text {
    display: none;
  }
}

/**************************************************************************
                                    footer
**************************************************************************/
footer {

  height: 6rem;
  background-image: url("../images/polygon.png");
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.foot {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.foot:first-child {
  text-shadow: 1.5px 1.5px rgb(120,177,173);
}

.term span{
  padding-left: 1rem;
  text-decoration: underline;
  transition: color 250ms ease;
}

.term span:hover {
  color:rgb(44, 57, 59)
}

@media only screen and (max-width: 500px) {
  .term {
    display: none;
  }

  footer {
    margin-top:-2rem;
  }
}





/* */
